body{
  margin-top: 50px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

/*Styles for button*/
.button {
  background: coral;
  padding: 1em 2em;
  color: #fff;
  border: 0;
}

.button:hover{
  background: #333;
}

/*Styles for button*/
.modal {
   display: none; /*When page loads, we don't want to display the modal*/
   position: fixed;
   z-index: 1;
   left: 0;
   top:0;
   height: 100%;
   width: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;

  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17) ;

  /*Adding animation*/
  animation-name: modalopen;
  animation-duration: 1s;

}

.modal-header {
  background: coral;
  padding: 15px;
  color: #fff;
}

.modal-footer {
  background: coral;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.modal-header h2, .modal-footer h3{
  margin: 0;
}

.modal-body{
  padding: 10px 20px;
}

.closeBtn{
  color: #fff;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from{opacity: 0}
  to{opacity: 1}
}
